target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/libraries/
.idea/codeStyles/Project.xml
.idea/scala_compiler.xml
.idea/scala_settings.xml
.idea/sbt.xml
.idea/misc.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Metals ###
.metals/
.bloop/
project/.bloop/
project/metals.sbt
project/project/.bloop
project/project/metals.sbt
project/project/project/metals.sbt

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Scala ###
.bsp/